* {
  margin: 5px;
}

#display-container {
  border: 2px solid black;
  height: 100px;
  width: 500px;
  text-align: right;
}
#display-operator {
  font-size: 20px;
}

#display-text {
  font-size: 50px;
}

.digits, .operators, .actions {
  font-size: 25px;
  padding: 5px 10px;
}
